*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
body {
    
    background: linear-gradient(to right, #2980B9, #FFC300);
}
.logo{
    width: 100px;
    height: 100px;
}
.consultas{
   width: 40%;
   height: 40%;
   margin: 20px auto;
   background-color: #FFC300;
   color: #2980B9;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.consultas,a{
    text-decoration: none;
    color:#2980B9;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.consultas a:hover{
    background-color: #2980B9;
    color: #FFC300;
    width: 100%;
    text-align: center;
}
section{
    display: flex;
}
.registros{
    width: 50%;
    height: 100%;
    margin: 20px auto;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
@media(max-width:768px) {
    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .consultas{
        width: 100%;
        height: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
}

